<nav class="bg-primary">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex items-center">
        {{yield to="mainMenu"}}
      </div>
      {{yield to="userMenu"}}
    </div>
  </div>
    {{yield to="mobileMenu"}}
</nav>